body {
    padding-left: 15px;
}



.menu {
    background-color: #dd6109;
    font-size: 20pt;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
    font-family: 'Lobster', cursive;
}

 div {
    color: #2843d8;
    font-size: 15pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}
