{% extends "base.html" %}
{% load static %}

{% block content %}
<h3>{{ habit.name }} {{habit.target}} {{ habit.noun }}</h3>

<div>
    <div>
        <p>Added by {{ habit.user }}</p>
   
    </div>
    {% if request.user.is_authenticated and request.user == habit.user %}
        <p>
            <a href="{% url 'habit_delete' pk=habit.pk %}">Remove your habit</a>
        </p>
        <p>
            <a href="{% url 'habit_update' pk=habit.pk %}"> Update your habit </a> 
        </p>
        <p>
            <a href="{% url 'record_create' habit_pk=habit.pk %}"> Add a daily record </a>
        </p>
    {% endif %}
    <h3>Daily Records</h3>
        {% for record in habit.records.all %}
            <hr>
            <p>{{record.outcome}} {{record.date}}</p>
                <a href="{% url 'record_update' record_pk=record.pk %}">Edit record</a>  
                <a href="{% url 'record_delete' record_pk=record.pk %}">  Delete record </a> 
            <hr>
           

        {% endfor %}    

    </div>
</div>
{% endblock %}